<% layout('layout') -%>
<div class="inner-page">
	<div class="content-wrapper-inner">
        <div id="content">          
            <div class="post">                                
                <div class="entry">
                    <!-- image gallery (inner Content Stage Gallery) -->
                    <div class="post-slider id-0 top">
                        <div style="width:948px;height:305px;padding-bottom:10px;" class="post-gallery-wrap id-0 aligncenter">
                            <div class="control-wrap">
                                <!-- stage-control is the play/pause function, remove if desired -->
                                <div class="stage-control">
                                    <ul>
                                        <li><a class="poststage-prev id-0" href="#"><img width="20" height="34" alt="Previous Slide" src="images/blank.gif"></a></li>
                                        <li class="poststage-pauseresume id-0">
                                            <span class="poststage-pause id-0"><img width="26" height="34" alt="Pause" src="images/blank.gif"></span>
                                            <span style="display:none;" class="poststage-resume id-0"><img width="26" height="34" alt="Resume" src="images/blank.gif"></span>
                                        </li>
                                        <li><a class="poststage-next id-0" href="#"><img width="20" height="34" alt="Next Slide" src="images/blank.gif"></a></li>
                                    </ul>
                                </div><!-- stage-control -->

                                <div class="post-control-panel id-0"></div><!-- / control-panel -->
                            </div><!-- / control-wrap -->


                            <div style="width:948px;" class="post-gallery">
                                <div class="panel shadow-medium">
                                    <div class="panel-inner">
                                        <div class="container shadowreflection shadow-medium">
                                            <div class="gridimg-wrap">
                                                <a href="#">
                                                    <img width="948" height="250" alt="Post Gallery One" src="demo_images/content-stagegallery-one.jpg" class="reflect" />
                                                </a>                            
                                            </div><!-- / gridimg-wrap -->
                                        </div><!-- / container -->                
                                    </div><!--  / panel-inner -->
                                </div><!--  / panel -->          


                                <div class="panel shadow-medium">
                                    <div class="panel-inner">
                                        <div class="container shadow shadow-medium">
                                            <div class="gridimg-wrap">
                                                <iframe width="948" height="250" frameborder="0" src="http://www.youtube.com/embed/1GKJKmdXF-s?autoplay=0&amp;wmode=opaque" class="youtube-player"></iframe>                    
                                            </div><!-- / gridimg-wrap -->
                                        </div><!-- / container -->                
                                    </div><!--  / panel-inner -->
                                </div><!--  / panel -->     

                                <div class="panel shadow-medium">
                                    <div class="panel-inner">
                                        <div class="container shadowreflection shadow-medium">
                                            <div class="gridimg-wrap">
                                                <a href="#">
                                                    <img width="948" height="250" alt="Post Gallery Two" src="demo_images/content-stagegallery-two.jpg" class="reflect" />
                                                </a>                            
                                            </div><!-- / gridimg-wrap -->
                                        </div><!-- / container -->                
                                    </div><!--  / panel-inner -->
                                </div><!--  / panel -->   

                            </div><!-- / post-gallery -->

                            <div class="clear"></div>

                        </div><!-- /post-gallery-wrap -->


                        <!-- javascript for stage gallery above -->
                        <script type="text/javascript">
                            <!--
                            $(document).ready(function() {

                                $('.post-control-panel.id-0').append('<ul class="nav-0"></ul>');

                                $('.post-gallery-wrap.id-0 .post-gallery').cycle({ 
                                    fx:     'fade', 
                                    timeoutFn: postcalculateTimeout,
                                    speed: 750,
                                    pager:  '.post-control-panel .nav-0',
                                    pause:  1,
                                    cleartype:  true,
                                    cleartypeNoBg:  true,

                                    next: '.poststage-next.id-0',
                                    prev: '.poststage-prev.id-0', 

                                    pagerAnchorBuilder: function(idx, slide) { 
                                        return '<li><a href="#"><img src="images/blank.gif" width="16" height="16" alt="slide" /></a></li>'; 
                                    }
                                });

                                $('.poststage-pause.id-0').click(function() {
                                    $('.post-gallery-wrap.id-0 .post-gallery').cycle('pause');
                                });

                                $('.poststage-resume.id-0').click(function() {
                                    $('.post-gallery-wrap.id-0 .post-gallery').cycle('resume');
                                });

                                $(".poststage-pauseresume.id-0 span").click(function () {
                                    $(".poststage-pauseresume.id-0 span").toggle();
                                });
                            });

                            // timeouts per slide (in seconds) 
                            var posttimeouts = [5,5,5]; 
                            function postcalculateTimeout(currElement, nextElement, opts, isForward) { 
                                var index = opts.currSlide; 
                                return posttimeouts[index] * 1000; 
                            } 
                            -->
                        </script>

                        <!-- / image gallery (Inner Content Stage Gallery) -->
                        <br />
                        
                    </div><!-- /entry -->  
                </div><!-- /post -->
            </div><!-- /content -->
            <div class="clear"></div>
            <div class="clear"></div>
        </div><!-- /content-wrapper-inner -->
    </div><!-- / content-wrapper -->

    <div class="clear"></div>
</div><!-- /inner-page -->
