    
        <div class="inner-page">       
			<div>
				<div class="content-wrapper-inner">                                   
					<div class="mid-wrap  left out-full">
                        <div id="content">          
                            <div class="post">                                
								<div class="entry">
 									<div class="styledbox shadow top clearfix">
                                    	<div class="styledbox shadow bottom">
											<div class="boxcontent shadow">
                                            	<br />
                                            	<h1 align="center">DynamiX Skins...</h1>
                                                <h4 align="center">click dynamix logo below to watch custom skin creator tutorial</h4>
                                                <br />
                                          
                                                <!-- image gallery (group slider) -->
                                                <div class="post-slider id-0 top">
                                                    <div class="gallery-wrap clearfix" style="height:230px">
                                                        <div class="slidernav-right">
                                                            <div class="slidernav">
                                                                <a id="rightnav-0" href="#"><img src="images/blank.gif" width="22px" height="32px" alt="navigate left" /></a>
                                                            </div>
                                                        </div>
                                                        <div class="slidernav-left">
                                                            <div class="slidernav">
                                                                <a id="leftnav-0" href="#"><img src="images/blank.gif" width="22px" height="32px" alt="navigate left" /></a>
                                                            </div>
                                                        </div>
                         
                                                        <div class="post-slide">
                
                                                            <div class="panelwrap clearfix" style="height:240px">
                                                                <div class="panel border-first ">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">             	
                                                                            <a href="skins-bokeh.html" title="Bokeh Skin">                
                                                                                <img class="reflect" src="demo_images/skins-bokeh.jpg" alt="bokeh skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-wood.html" title="Wood Skin">                
                                                                                <img class="reflect" src="demo_images/skins-wood.jpg" alt="wood skin" width="290" height="193" />
                                                                            </a>        	
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-teal.html" title="Teal Skin">              
                                                                                <img class="reflect" src="demo_images/skins-teal.jpg" alt="teal skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->
                                                                </div><!-- /panel -->     
                                                            </div><!--  / panelwrap -->
                                                        
                                                            <div class="panelwrap clearfix" style="height:240px">
                                                                <div class="panel border-first ">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">             	
                                                                            <a href="skins-pink.html" title="Pink Skin">                
                                                                                <img class="reflect" src="demo_images/skins-pink.jpg" alt="pink skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-lightgrey.html" title="Light Skin">                
                                                                                <img class="reflect" src="demo_images/skins-lightgrey.jpg" alt="light skin" width="290" height="193" />
                                                                            </a>        	
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-darkgrey.html" title="Dark Grey Skin">              
                                                                                <img class="reflect" src="demo_images/skins-darkgrey.jpg" alt="dark grey skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->
                                                                </div><!-- /panel -->     
                                                            </div><!--  / panelwrap -->
                                                            
                                                             <div class="panelwrap clearfix" style="height:240px">
                                                                <div class="panel border-first ">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">             	
                                                                            <a href="skins-grunge.html" title="Grunge Skin">                
                                                                                <img class="reflect" src="demo_images/skins-grunge.jpg" alt="grunge skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-urban.html" title="Urban Skin">                
                                                                                <img class="reflect" src="demo_images/skins-urban.jpg" alt="urban skin" width="290" height="193" />
                                                                            </a>        	
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-carbon.html" title="Carbon Skin">              
                                                                                <img class="reflect" src="demo_images/skins-carbon.jpg" alt="carbon skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->
                                                                </div><!-- /panel -->     
                                                            </div><!--  / panelwrap -->    
                                                                   
                                                            <div class="panelwrap clearfix" style="height:240px">
                                                                <div class="panel border-first ">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">             	
                                                                            <a href="skins-orange.html" title="Orange Skin">                
                                                                                <img class="reflect" src="demo_images/skins-orange.jpg" alt="orange skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-red.html" title="Red Skin">                
                                                                                <img class="reflect" src="demo_images/skins-red.jpg" alt="red skin" width="290" height="193" />
                                                                            </a>        	
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-blue.html" title="Blue Skin">              
                                                                                <img class="reflect" src="demo_images/skins-blue.jpg" alt="blue skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->
                                                                </div><!-- /panel -->     
                                                            </div><!--  / panelwrap -->
                
                
                                                            <div class="panelwrap clearfix" style="height:240px">
                                                                <div class="panel border-first ">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">             	
                                                                            <a href="skins-green.html" title="Green Skin">                
                                                                                <img class="reflect" src="demo_images/skins-green.jpg" alt="green skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-mustard.html" title="Mustard Skin">                
                                                                                <img class="reflect" src="demo_images/skins-mustard.jpg" alt="mustard skin" width="290" height="193" />
                                                                            </a>        	
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->				
                                                                </div><!-- /panel -->     
                                                                
                                                                <div class="panel border-left">
                                                                    <div class="container shadowreflection shadow-medium">
                                                                        <div class="gridimg-wrap" align="center">
                                                                            <a href="skins-darkblue.html" title="Dark Blue Skin">              
                                                                                <img class="reflect" src="demo_images/skins-darkblue.jpg" alt="dark blue skin" width="290" height="193" />
                                                                            </a>
                                                                        </div><!-- / gridimg-wrap -->
                                                                    </div><!-- / container -->
                                                                </div><!-- /panel -->     
                                                            </div><!--  / panelwrap -->                                            
                                                                                                        
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div><!-- / gallerywrap -->
                                                </div><!-- /gallery-slider -->
                                                
                    
                                                <script type="text/javascript">
                                                <!--
                                                $(document).ready(function() {
                                                
                                                    $('.post-slider.id-0 .post-slide').cycle({ 
                                                        fx:     'scrollHorz', 
                                                        timeout: 0,
                                                        speed: 750,
                                                        easing: 'easeInOutExpo',
                                                        prev: '#leftnav-0',
                                                        next: '#rightnav-0'
                                                    });
                                                
                                                });
                                                
                                                $(document).ready(function(){
                                                $('.post-slider.id-0 .galleryimg').append('<div class="hoverimg" style="height:170px"></div>');
                                                $('.post-slider.id-0 .galleryvid').append('<div class="hovervid" style="height:170px"></div>');	
                                                });
                                                //-->
                                                </script>
                                                
                                                <!-- / image gallery (group slider) -->
												<br />
                                                
                                                <div style="width:100px; height:68px;" class="imagewrap reflect alignright gridimg-wrap shadow-xsmall">
                                                    <a rel="prettyPhoto[gallery]" href="http://www.youtube.com/watch?v=1GKJKmdXF-s">
                                                    	<img width="100" height="68" alt="Custom Skin Creator" class="reflect" src="demo_images/dynamix-tutorial.png" />
                                                    </a>
                                                </div>                                                 
											</div>										
                                        </div>
									</div><!-- / shadow styledbox -->                                     
									
                                  
                                </div><!-- /entry -->  
                            </div><!-- /post -->
                        </div><!-- /content -->
                        <div class="clear"></div>
                    </div><!-- /mid-wrap -->
                    <div class="clear"></div>
                </div><!-- /content-wrapper-inner -->
			</div><!-- / content-wrapper -->
   
            <div class="clear"></div>
        </div><!-- /inner-page -->
