<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>슬리트 주식회사(Sleet co.,ltd.)</title>

	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="stylesheets/prettyPhoto.css" type="text/css" media="screen" />

	<!-- DynamiX Outer Skin (Change Accordingly)  -->    
	<link rel="stylesheet" href="stylesheets/teal-dark.css" type="text/css" media="screen" />
	<!-- / DynamiX Outer Skin -->


	<!-- DynamiX Inner Skin (Load if you want to use Dark Inner Skin) *** For IE & Opera See Below ***  -->   
	<!-- <link rel="stylesheet" href="stylesheets/dark-content.css" type="text/css" media="screen" /> -->
	<!-- / DynamiX Inner Skin  -->   


	<!-- IE & Opera ONLY functions  --> 
	<script type="text/javascript">

	<!--
	if(navigator.appName == "Opera" || navigator.appName == "Microsoft Internet Explorer") {

		if(navigator.appName == "Opera" && parseInt(navigator.appVersion)<"9.8" || navigator.appName == "Microsoft Internet Explorer" && parseInt(navigator.appVersion)<"5") {

	//-->

	<!--
			document.write ('<link rel="stylesheet" href="stylesheets/opera-ie-only.css" type="text/css" media="screen" />');
			//-->


			$(window).load(function() {
				$(".content-wrapper,.styledbox.general, .columns.border").liquidCanvas(
					"[shadow border{color:#dfdfdf; width:1} fill{color:#fbfbfb}] => roundedRect{radius:10}");
				
				$(".gallery-wrap").liquidCanvas(
					"[shadow border{color:#dfdfdf; width:1} gradient{from:#fff; to:#fff; to:#f9f9f9;}] => roundedRect{radius:10}");

				$(".styledbox.information, #message.info").liquidCanvas(
					"[shadow border{color: rgba(0,0,0,0.09); width:1} gradient{from:#0074f7; to:#9dcbff;}] => roundedRect{radius:10}");

				$(".styledbox.warning").liquidCanvas(
					"[shadow border{color: rgba(0,0,0,0.09); width:1} gradient{from:#ff9600; to:#feef9b;}] => roundedRect{radius:10}");

				$(".styledbox.download").liquidCanvas(
					"[shadow border{color: rgba(0,0,0,0.09); width:1} gradient{from:#26b83e; to:#d6eea7;}] => roundedRect{radius:10}");

				$(".styledbox.help").liquidCanvas(
					"[shadow border{color: rgba(0,0,0,0.09); width:1} gradient{from:#e40c33; to:#e84d69;}] => roundedRect{radius:10}");	
			});	
			} 

	/*
	<!-- *** !IMPORTANT *** Dark Inner Skin (Comment out the above and use below) -->
		
		$(window).load(function() {
		$(".content-wrapper,.styledbox.general, .columns.border").liquidCanvas(
			"[shadow border{color:#111; width:1} fill{color:#1b1b1b}] => roundedRect{radius:10}");
		
		$(".gallery-wrap").liquidCanvas(
		"[shadow border{color:#111; width:1} gradient{from:#1b1b1b; to:#151515;}] => roundedRect{radius:10}");

		$(".styledbox.information, #message.info").liquidCanvas(
		"[shadow border{color: rgba(0,0,0,0.09); width:1} gradient{from:#0074f7; to:#9dcbff;}] => roundedRect{radius:10}");

		$(".styledbox.warning").liquidCanvas(
		"[shadow border{color: rgba(0,0,0,0.09); width:1} gradient{from:#ff9600; to:#feef9b;}] => roundedRect{radius:10}");

		$(".styledbox.download").liquidCanvas(
		"[shadow border{color: rgba(0,0,0,0.09); width:1} gradient{from:#26b83e; to:#d6eea7;}] => roundedRect{radius:10}");

		$(".styledbox.help").liquidCanvas(
		"[shadow border{color: rgba(0,0,0,0.09); width:1} gradient{from:#e40c33; to:#e84d69;}] => roundedRect{radius:10}");	
		});
		}
		
	<!-- document.write ('<link rel="stylesheet" href="stylesheets/opera-ie-only-dark.css" type="text/css" media="screen" />'); --> 

	<!-- *** / !IMPORTANT *** Dark Inner Skin -->
	*/	
	}	
	</script>

<!--[if IE 6]>
<style type="text/css" media="screen">
  @import "stylesheets/ie6.css";
</style>
<![endif]-->

<!--[if IE 7]>
<style type="text/css" media="screen">
  @import "stylesheets/ie7.css";
</style>
<![endif]-->

<!--[if IE]> <style> .clearfix {display: inline-block;} /* Hides from IE-mac \*/ * html .clearfix {height: 1%;} .clearfix {display: block;} /* End hide from IE-mac */ </style> <![endif]-->

<!--[if IE]>
<script type="text/javascript" src="js/excanvas.js" charset="utf-8"></script>
<![endif]-->

<!-- / IE & Opera ONLY functions  -->


<script type="text/javascript" src="js/swfobject.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/reflection.js"></script>
<script type="text/javascript" src="js/liquid-canvas.js"></script>
<script type="text/javascript" src="js/liquid-canvas-plugins.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"  charset="utf-8"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script> 
<script type="text/javascript" src="js/NanumGothic_400-NanumGothic_600.font.js"></script>
<script type="text/javascript" src="js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/dynamix.js"></script>

<script type='text/javascript'>
window.onload=function(){
	gettweets('wanbok','5'); <!-- Get Tweets, Enter your Twitter Username -->
}

jQuery(function($) {
	$("img.reflect").reflect({height:35,opacity:0.2});
});

// Header/Toppanel h1-h6 Tag Gradients

Cufon.replace('#header h1, #footer-wrap h1', {color: '-linear-gradient(#fff,#f5f5f5,)'});	
Cufon.replace('#header h2, #footer-wrap h2', {color: '-linear-gradient(#fff,#f5f5f5,)'});	
Cufon.replace('#header h3, #header h4, #header h5, #header h6, #footer-wrap h3,#footer-wrap h4,#footer-wrap h5,#footer-wrap h6,.tweets h3', {color: '-linear-gradient(#fff,#f5f5f5,)'});	

// Content h1-h6 Tag Gradients


// Light Inner Skin

Cufon.replace('.inner-page h1,#toppanel h1', {color: '-linear-gradient(#777,#555,)'});	
Cufon.replace('.inner-page h2, .gallerywrap h1, .gallerywrap h2, .gallerywrap h3, .gallerywrap h4, .gallerywrap h5, #toppanel h2', {color: '-linear-gradient(#777,#555,)'});	
Cufon.replace('.inner-page h3,#toppanel h3, .inner-page h4, #toppanel h4,.inner-page h5,#toppanel h5,.inner-page h6,#toppanel h6', {color: '-linear-gradient(#777,#555,)'});


/*
// Dark Inner Skin

Cufon.replace('.inner-page h1,#toppanel h1', {color: '-linear-gradient(#f5f5f5,#ccc,)'});	
Cufon.replace('.inner-page h2, .gallerywrap h1, .gallerywrap h2, .gallerywrap h3, .gallerywrap h4, .gallerywrap h5, #toppanel h2', {color: '-linear-gradient(#f5f5f5,#ccc,)'});	
Cufon.replace('.inner-page h3,#toppanel h3, .inner-page h4, #toppanel h4,.inner-page h5,#toppanel h5,.inner-page h6,#toppanel h6', {color: '-linear-gradient(#f5f5f5,#ccc,)'});
*/

// Gallery Text Overlay Gradients

Cufon.replace('.stage-slider .gallerytitle.light h2, .stage-slider .gallerytitle.light h3', {color: '-linear-gradient(#f9f9f9, #fff,)'});
Cufon.replace('.stage-slider .gallerytitle.dark h2, .stage-slider .gallerytitle.dark h3', {color: '-linear-gradient(#999, #333,)'});

</script>
</head>
<body>
	<!-- Back to top anchor -->
	<a name="top" id="top"></a>
	<!-- Drop Panel -->
	<div id="toppanel">
		<div id="panel" style=" height:330px;">
			<div class="content clearfix">
				<div class="panel-wrap">
					<h3>Sleet</h3>
					<div style="width:100px;height:68px;" class="imagewrap reflect aligncenter gridimg-wrap shadow-xsmall">
						<a target="_blank" href="http://sleet.kr"><img width="100" height="68" alt="Some alt text" src="demo_images/dynamix.png" class="reflect" /></a>
					</div>    
					<div align="center"><div class="button-wrap"><div class=" button "><a target="_blank" href="http://themeforest.net/user/cwz000/portfolio?ref=cwz000">Purchase DynamiX</a></div></div></div>
				</div><!-- / panel-wrap -->

				<div class="panel-wrap">
					<h3>Menu</h3>
					<ul class="widgetlinks">
						<li><a href="content-stage-gallery.html" title="Stage Gallery">Stage Gallery</a></li>
						<li><a href="content-groupslider-gallery.html" title="Group Slider Gallery">Group Slider Gallery</a></li>
						<li><a href="content-grid-gallery.html" title="Grid Gallery">Grid Gallery</a></li>                
					</ul>					
				</div><!-- / panel-wrap -->

				<div class="panel-wrap">
					<h3>Maps</h3>
				</div><!-- / panel-wrap -->

				<div class="panel-wrap last">
					<h3>Enquiry Form</h3>		
					<form id="contactform" class="contactform" method="post" action="contact-form.php">
						<ol class="forms">
							<li>Support Requests will only be answered via <a href="http://themeforest.net/item/dynamix-premium-wordpress-theme/113901?ref=cwz000">ThemeForest</a>.</li>							
							<li><input  type="text" class="field name requiredfield" name="name" id="name" value="" /> <label for="name"><small>Name</small></label></li>
							<li><input  type="text" class="field email requiredfield" name="email" id="email" value="" /> <label for="email"><small>Email</small></label></li>
							<li class="textarea"><textarea  class="field" name="comments" id="comments" rows="20" cols="30" ></textarea><label class="screenReader" for="comments">Enquiry</label></li>
							<li style="left: -9999px; position: absolute; top: -9999px;"><label for="checking" style="left: -9999px; position: absolute; top: -9999px;">If you want to submit this form, do not enter anything in this field</label><input type="text" name="checking" id="checking" style="left: -9999px; position: absolute; top: -9999px;" value="" /></li>
							<li class="buttons"><input type="hidden" name="submitted" id="submitted" value="true" /><div class="clear"></div><button type="submit">Submit</button></li>					
						</ol>
					</form>
				</div><!-- / panel-wrap -->
			</div><!-- / content -->
		</div> <!-- / panel -->

		<div class="tab-wrap">
			<!-- The tab on top -->
			<div class="tab">
				<ul class="panelswitch">
					<li class="left"> </li>
					<!-- Search / Trigger -->
					<li id="toggle" style="width:227px;">
						<div class="search-wrap">
							<form method="get" id="panelsearchform" action="">
								<input type="text" value="Search" name="s" id="drops" onfocus="if(this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}" />
								<input type="submit" id="panelsearchsubmit" value="&nbsp;" />
							</form>
						</div><!-- search-wrap end -->
						<div class="trigger">
							<a id="open" class="open" href="#">
								<img src="images/blank.gif" width="15px" height="10px" border="0" alt="open panel" />
							</a>
							<a id="close" style="display: none;" class="close" href="#">
								<img src="images/blank.gif" width="15px" height="10px" border="0" alt="close panel" />
							</a>
						</div><!-- /trigger -->
					</li> <!-- / toggle -->
					<li class="right"></li>
				</ul>
			</div> <!-- / tab -->
		</div> <!-- / tab-wrap -->
	</div> <!--/toppanel -->
	<!-- /Drop Panel -->

	<!-- Page Header Config 1: class="gallery" for use with stage gallery, 2: pages for normal class="pages" -->
	<div id="wrapper" class="pages">
		<div id="page" class="pages">
			<div id="header" class="pages">

				<div id="header-logo">
					<div id="logo">
						<div class="description"><h2>Sleet co., ltd.</h2></div>
						<h1><a href="/">슬리트 주식회사</a></h1>
					</div><div class="clear"></div>
				</div><!-- /header-logo -->

				<div id="tabs">
					<ul id="dropmenu">	
						<li class="menubreak"></li>
						<li><a href="index.html" title="Home">Home</a><span class="menudesc">Beginning</span></li>
						<li class="menubreak"></li>
						<li><a href="#" title="Layouts">Layouts</a><span class="menudesc">Page Styles</span>
							<ul class='children'>
								<li><a href="2-column-left.html" title="2x Column Left">2x Column Left</a></li>
								<li><a href="2-column-right.html" title="2x Column Right">2x Column Right</a></li>
								<li><a href="3-column-left.html" title="3x Column Left">3x Column Left</a></li>
								<li><a href="3-column-right.html" title="3x Column Right">3x Column Right</a></li>     
								<li><a href="3-column-left-right.html" title="3x Column Left,Right">3x Column Left,Right</a></li>  
								<li><a href="full-width.html" title="Full Width">Full Width</a></li>  
								<li><a href="no-border.html" title="No Content Border">No Content Border</a></li>
							</ul>
						</li>
						<li class="menubreak"></li>
						<li><a href="#" title="Styles">Styles</a><span class="menudesc">Dynamic Stlye</span>
							<ul class='children'>
								<li><a href="styles-buttons.html" title="Buttons">Buttons</a></li>
								<li><a href="styles-columns.html" title="Columns">Columns</a></li>
								<li><a href="styles-content.html" title="Content Styling">Content Styles</a></li>
								<li><a href="styles-image-effects.html" title="Image Effects">Image Effects</a></li>
								<li><a href="styles-styledboxes.html" title="Styled Boxes">Styled Boxes</a></li>
								<li><a href="styles-galleries.html" title="Columns">Inner Content Galleries</a>
									<ul class='children'>
										<li><a href="content-stage-gallery.html" title="Stage Gallery">Stage Gallery</a></li>
										<li><a href="content-groupslider-gallery.html" title="Group Slider Gallery">Group Slider Gallery</a></li>
										<li><a href="content-grid-gallery.html" title="Grid Gallery">Grid Gallery</a></li>
									</ul>
								</li>
								<li><a href="styles-advanced.html" title="Advanced Styling">Advanced Styles</a></li>
							</ul>
						</li>
						<li class="menubreak"></li>                                        
						<li class="current_page_item"><a>Template Skins</a><span class="menudesc">Colors &amp; Textures</span>
							<ul class='children'>
								<li><a>Bright Colors</a>
									<ul class='children'>
										<li><a href="skins-lightgrey.html" title="Light Grey Skin">Light Grey Skin</a></li>                                
										<li><a href="skins-blue.html" title="Blue Skin">Blue Skin</a></li>
										<li><a href="skins-green.html" title="Green Skin">Green Skin</a></li>
										<li><a href="skins-mustard.html" title="Mustard Skin">Mustard Skin</a></li>    
										<li><a href="skins-orange.html" title="Orange Skin">Orange Skin</a></li>
										<li><a href="skins-pink.html" title="Pink Skin">Pink Skin</a></li>
										<li><a href="skins-red.html" title="Red Skin">Red Skin</a></li>   
										<li><a href="skins-teal.html" title="Teal Skin">Teal Skin</a></li>                                                                        
									</ul>
								</li>       
								<li><a>Textured</a>
									<ul class='children'>                                             
										<li><a href="skins-bokeh.html" title="Bokeh Skin">Bokeh Skin</a></li>
										<li><a href="skins-carbon.html" title="Carbon Skin">Carbon Skin</a></li>                               
										<li><a href="skins-grunge.html" title="Grunge Skin">Grunge Skin</a></li>
										<li><a href="skins-urban.html" title="Urban Skin">Urban Skin</a></li>
										<li><a href="skins-wood.html" title="Wood Skin">Wood Skin</a></li>    
									</ul>
								</li>         
								<li><a>Dark Colors</a>
									<ul class='children'>
										<li><a href="skins-darkgrey.html" title="Dark Grey Skin">Dark Grey Skin</a></li>
										<li><a href="skins-darkgreen.html" title="Dark Green Skin">Dark Green Skin</a></li>  
										<li><a href="skins-darkteal.html" title="Dark Teal Skin">Dark Teal Skin</a></li>									 
										<li><a href="skins-darkpink.html" title="Dark Pink Skin">Dark Pink Skin</a></li>                                     
										<li><a href="skins-darkred.html" title="Dark Red Skin">Dark Red Skin</a></li>                                     
										<li><a href="skins-darkbrown.html" title="Dark Brown Skin">Dark Brown Skin</a></li>
									</ul>
								</li>							
							</ul>                                                
						</li>                    
						<li class="menubreak"></li>
						<li><a href="blog.html">Blog</a><span class="menudesc">Blog Example</span></li>
						<li class="menubreak"></li>
						<li><a>Galleries</a><span class="menudesc">Gallery Types</span>
							<ul class='children'>
								<li><a href="gallery-stage.html" title="Blue Skin">Stage Gallery</a></li>                        
								<li><a href="gallery-group-slider.html" title="Bokeh Skin">Group Slider Gallery</a></li>
								<li><a href="gallery-grid.html" title="Carbon Skin">Grid Gallery</a></li>                                                            
							</ul>                          
						</li>
						<li class="menubreak"></li>                    
						<li class="page_item"><a title="Contact Us" class="droppaneltrigger" href="#">Contact Us</a><span class="menudesc">Send an email</span></li>
						<li class="menubreak"></li>                      
					</ul>
				</div><!-- /tabs -->
			</div><!-- /header -->
			<div id="sub-header">
				<div id="sub-tabs">
					<ul>
						<li class="home"><a href="index.html">Home</a></li>
						<li class="current_page_item">Dark Teal Skin</li>		
					</ul>
				</div>
			</div><!-- / sub-header -->

			<%- body %>

		</div><!-- /page -->

		<div class="push"></div>

	</div><!-- /wrapper -->

	<div class="clear"></div>
	<div id="footer-header"></div>
	<div id="footer-wrap" class="clearfix">
		<div id="footer-wrap-inner" class="clearfix">
			<div id="footer" class="clearfix">
				<div class="panel-wrap">
					<h3>Template Skins</h3>
					<ul class="menu">
						<li><a href="skins-blue.html" title="Blue Skin">Blue Skin</a></li>                        
						<li><a href="skins-bokeh.html" title="Bokeh Skin">Bokeh Skin</a></li>
						<li><a href="skins-carbon.html" title="Carbon Skin">Carbon Skin</a></li>                               
						<li><a href="skins-darkgrey.html" title="Dark Grey Skin">Dark Grey Skin</a></li>   
						<li><a href="skins-green.html" title="Green Skin">Green Skin</a></li>
						<li><a href="skins-grunge.html" title="Grunge Skin">Grunge Skin</a></li>
						<li><a href="skins-lightgrey.html" title="Light Grey Skin">Light Grey Skin</a></li>
						<li><a href="skins-mustard.html" title="Mustard Skin">Mustard Skin</a></li>
						<li><a href="skins-orange.html" title="Orange Skin">Orange Skin</a></li>
						<li><a href="skins-pink.html" title="Pink Skin">Pink Skin</a></li>
						<li><a href="skins-red.html" title="Red Skin">Red Skin</a></li>   
						<li><a href="skins-teal.html" title="Teal Skin">Teal Skin</a></li>                                                                                     
						<li><a href="skins-urban.html" title="Urban Skin">Urban Skin</a></li>
						<li><a href="skins-wood.html" title="Wood Skin">Wood Skin</a></li>    
					</ul>
				</div>

				<div class="panel-wrap">
					<h3>Styles</h3>
					<ul class="menu">
						<li><a href="styles-buttons.html" title="Buttons">Buttons</a></li>
						<li><a href="styles-columns.html" title="Columns">Columns</a></li>
						<li><a href="styles-content.html" title="Content Styling">Content Styles</a></li>
						<li><a href="styles-image-effects.html" title="Image Effects">Image Effects</a></li>
						<li><a href="styles-styledboxes.html" title="Styled Boxes">Styled Boxes</a></li>
						<li><a href="styles-galleries.html" title="Columns">Inner Content Galleries</a></li>
						<li><a href="styles-advanced.html" title="Advanced Styling">Advanced Styles</a></li>
					</ul>
				</div>                

				<div class="panel-wrap">
					<h3>Layouts</h3>
					<ul class="menu">
						<li><a href="2-column-left.html" title="2x Column Left">2x Column Left</a></li>
						<li><a href="2-column-right.html" title="2x Column Right">2x Column Right</a></li>
						<li><a href="3-column-left.html" title="3x Column Left">3x Column Left</a></li>
						<li><a href="3-column-right.html" title="3x Column Right">3x Column Right</a></li>     
						<li><a href="3-column-left-right.html" title="3x Column Left,Right">3x Column Left,Right</a></li>  
						<li><a href="full-width.html" title="Full Width">Full Width</a></li>  
						<li><a href="no-border.html" title="No Content Border">No Content Border</a></li>
					</ul>
				</div>


				<div class="panel-wrap last">
					<h3>DynamiX</h3>
					<p>Also available as a Wordpress Theme</p>
					<div style="width:100px;height:68px;" class="imagewrap reflect aligncenter gridimg-wrap shadow-xsmall">
						<a target="_blank" href="http://themeforest.net/user/cwz000/portfolio?ref=cwz000"><img width="100" height="68" alt="Some alt text" src="demo_images/dynamix.png" class="reflect" /></a>
					</div>              
				</div>

			</div><!-- / footer -->
		</div><!-- / footer-wrap-inner -->
	</div><!-- / footer-wrap -->

	<div class="lowerfooter-wrap clearfix">
		<div class="lowerfooter">
			<div class="lowfooterleft">© 2010 DynamiX</div>
			<div class="lowfooterright">
				<a href="http://themeforest.net/user/cwz000/portfolio?ref=cwz000" title="Buy Dynamix Theme" target="_blank">DynamiX Theme</a>
			</div>
		</div><!-- / lowerfooter -->		
	</div><!-- / lowerfooter-wrap -->

	<!-- Another Great Website Design by Creative Workz - http://www.creativeworkz.co.uk -->

	<script type="text/javascript" charset="utf-8"> 
	Cufon.now();
	<!--
	$(document).ready(function(){
		$('.shortcodeimg').append('<div class="hoverimg" style="height:100%"></div>');	
		$('.shortcodevid').append('<div class="hovervid" style="height:100%"></div>');	
		$('.archiveimg-wrap .galleryimg,.group-slider .galleryimg, .grid-gallery .galleryimg').append('<div class="hoverimg" style="height:100%"></div>');	
		$('.archiveimg-wrap .galleryvid,.group-slider .galleryvid, .grid-gallery .galleryvid').append('<div class="hovervid" style="height:100%"></div>');	
	});
//-->

$(document).ready(function(){$(".gridimg-wrap a[rel^='prettyPhoto']").prettyPhoto({theme:'light_rounded'});});
</script>

</body>
</html>
